 .no-player,.player1,.player2{
     display:none;
 }
body{
     background-image:url(https://ksr-ugc.imgix.net/assets/000/683/557/f93cb321c560e8dc454c9fea6d1b87ae_original.jpg?ixlib=rb-1.1.0&w=680&fit=max&v=1371584032&auto=format&gif-q=50&q=92&s=713a66ba48c90b4b7576b608237ca429);
    background-size: cover;
     color: black;
     font-family: 'Patrick Hand', cursive;
    }
h1{
    font-family: 'Monoton', cursive;
     margin-left:28%;
     font-weight:bolder;
     font-size:350%;
}

#points{
    width:50px;
    height:60px;
    background:maroon;
    border-radius: 25px ;
    padding:20px;
}

#play-again{
    margin-left: 28%;
    font-size:15px;
    position:fixed;
    bottom: 0%;
}
button{
    color:maroon;
}
h1{
    font-weight: bold;
    font-style: italic;
    margin-right: 10%;
}
.hold:hover{
    background: white;
    color:black;
    border: 1px solid maroon;
}
.roll:hover{
    background: white;
    color:black;
    border: 1px solid maroon;
}
#start-btn:hover{
    background: white;
    color:black;
    border: 1px solid maroon;
}