 .no-player,.player1,.player2{
     display:none;
 }
body{
     
    }
h1{
    font-family: 'Monoton', cursive;
     margin-left:28%;
     font-weight:bolder;
     font-size:350%;
}

#points{
    width:50px;
    height:60px;
    background:maroon;
    border-radius: 25px ;
    padding:20px;
}

#play-again{
    margin-left: 28%;
    font-size:15px;
    position:fixed;
    bottom: 0%;
}
button{
    color:maroon;
}
h1{
    font-weight: bold;
    font-style: italic;
    margin-right: 10%;
}
.hold:hover{
    background: white;
    color:black;
    border: 1px solid maroon;
}
.roll:hover{
    background: white;
    color:black;
    border: 1px solid maroon;
}
#start-btn:hover{
    background: white;
    color:black;
    border: 1px solid maroon;
}